<div class="masthead">
	<div class="masthead__image">
		{{> @image this}}
	</div>
	<div class="masthead__content">
		<div class="row">
			<div class="small-12 medium-8 column">
				<div class="masthead__caption user-markup">
					<h2 class="masthead__heading">{{{ heading }}}</h2>
					{{> @rule style="rule--primary"}}
					<p class="masthead__desc">{{{ desc }}}</p>
				</div>
			</div>
		</div>
	</div>
</div>
