<div class="user-markup">
	<h1>Headline Lorem Ipsum Dolor</h1>
	{{> @rule style="rule--primary rule--large"}}
	{{> @intro copy="Introduction lorem ipsum dolor sit amet, consectetur adipis elit sed do eiusmod tempor ut lab."}}
	<p>WYSIWYG body copy lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	{{> @button style="button--primary" url="#" title="Primary Button"}}
</div>