<a class="button{{#if style}} {{ style }}{{/if}}{{#if isDisabled}} button--is-disabled{{/if}}" href="{{ url }}"{{#if isDisabled}} tabindex="-1"{{/if}}>
	{{{ title }}}
	{{#if icon}}<div class="button__icon" role="presentation">{{svg icon}}</div>{{/if}}
</a>
